@font-face {
  font-family: "Mirza";
  src: url("../fonts/Mirza-SemiBold.ttf");
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenirnextcyr-light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenirnextcyr-medium.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Avenir";
  src: url("../fonts/avenirnextcyr-bold.ttf");
  font-weight: 700;
}
